/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
squadster-*.tar
npm-debug.log
/assets/node_modules/
.env

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/
